

.green{
  background-color:#7CEEA6;
  padding: 8px 16px;
}
.blue{
  background-color:#7ED4F9;
  padding: 8px 16px;
}

.purple{
  background-color:#AC8EAB;
  padding: 8px 16px;
}
.rice{
  background-color:#FFE4B5;
  padding: 8px 16px;
}
